certifi==2017.4.17
chardet==3.0.4
Django==1.11
django-admin-honeypot==1.0.0
django-allauth==0.32.0
idna==2.5
numpy==1.12.1
oauthlib==2.0.2
pandas==0.19.2
psycopg2==2.7.1
python-dateutil==2.6.0
python-openid==2.2.5
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
scipy==0.19.0
six==1.10.0
slots==0.3.0
suds==0.4
urllib3==1.21.1
