<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<h2>Pozostańmy w kontakcie</h2>
		<ul class="actions">
			<li><span class="icon fa-phone"></span> <a href="#">(48) 793-550-425</a></li>
			<li><span class="icon fa-envelope"></span> <a href="#">maciek.stepkowski@gmail.com</a></li>
			<li><span class="icon fa-map-marker"></span> Warszawa</li>
		</ul>
	</div>
	<div class="copyright">
		&copy; Allegropti 2017. Design <a href="https://templated.co">TEMPLATED</a>. 
	</div>
</footer>	