{% block navbar %}
	<!-- Header -->
	<header id="header">
		<nav class="left">
			<a href="#menu"><span>Menu</span></a>
		</nav>
		<a href="http://{{ request.META.HTTP_HOST }}" class="logo">allegropti</a>
		<nav class="right">
			{% if user.is_authenticated %}
				<p>Witaj, {{ user.username }} <a href="{% url 'account_logout' %}">(wyloguj się)</a>
				{% if user.is_superuser %}
					<a href="/neverland/" class="button alt">Administrator</a>
				{% endif %}
				</p>
		    {% else %}
		    	<p>
		    		<a href="{% url 'account_signup' %}" class="button alt">Zarejestruj</a>
      				<a href="{% url 'account_login' %}" class="button alt">Zaloguj</a>
      			</p>
		    {% endif %}
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a href="http://{{ request.META.HTTP_HOST }}">Strona główna</a></li>
			{% if user.is_authenticated %}
				{% if user.is_superuser %}
				<li><a href="/neverland/">Panel administracyjny</a></li>
				{% endif %}
		    {% endif %}
		</ul>
		<ul class="actions vertical">
			<li><a href="#" class="button fit">Login</a></li>
		</ul>
	</nav>
{% endblock %}